html,body
{
	width: 100%; 
	height: 100%;
	margin: 0; 
}

body 
{
	font-family: comic sans ms; 
	background-image: url('border-blue.jpg') ;
	background-attachment: fixed ;
	background-repeat: no-repeat ;
	background-size: 1000px 100%;
	background-position: center;
	color: #4682B4;	
}

#container
{
	max-width: 1000px; 
	margin: auto; 
 	margin-top: 120px; 
 	margin-bottom: 0px;
	padding: 10px;
	text-align: center;
}

#sous_container
{
	display: table; 
	border-collapse: separate;
	border-spacing: 20px 0px;
	min-height: 500px;
	text-align: left;
}

header
{
	display: block; 
	text-align: center;
}

header img
{
	display: block;
	margin: auto;
	width: 150px; 
	margin: 20px 50px 0px 50px;
	border-radius: 8px;
}

#menu-icon
{
	width: 0px; 
	height: 0px; 
	visibility: hidden; 
	float: right; /* sans float, il fait une ligne blanche */
	position: absolute;
	top: 0px;
	right: 0px;
}

#menu ul
{
	visibility: visible;
	display: block;
	text-align: center;
	list-style-type: none; 
    padding: 0px;
}

#menu a
{
	margin: auto;
	margin-top:10px;
	background-color: #003399; 
	width: 200px; 
	height: 40px; 
	text-align: center; 
	padding-top: 10px; 
	padding-bottom: 0px; 
	border-radius: 8px;
	display: block;
}
	
li:first-child
{
	margin-top:0px;
}

a
{
	color: white; 
	text-decoration: none; 
}


a:hover /*quand la souris passe dessus*/
{
	color: #FAEBD7;
}

#menu a:hover
{
	opacity: 0.8;
}

#menu
{
	vertical-align: top; 
	display: table-cell; 
	width: 20%; 
	padding: 5px;
	margin-top: 10%; 
	text-align: center;
}

#jssor_1, #products, #services, #findus
{ 
	vertical-align: top; 
	display:  table-cell;
	border-spacing: 10px;
	padding: 5px; 
	visibility: hidden;
	width: 100%;
}

#jssor_1
{
}

#products
{ 
	border-spacing: 6px;
}

.table
{
	display: table;
	width: 100%;
}

.address
{
	display: table-cell;
	text-align: left;
} 

#products nav
{
	display: inline-table; 
	width: 30px;
	height: 80px;  
	margin: 1px; 
	min-width: 70px;
	background: #B0C4DE; 
	text-align: center;
	color: white;
	vertical-align: middle;	
}

h3
{
	color:  #FFFFD5; 
	margin: 0px; 
	padding: 2px; 
	border-bottom: white; 
}

footer
{
	color: grey; 
	word-spacing: 10px;
}

@media screen and (max-width: 700px)
{
	#container
	{
		min-width: 342px; 
		height: 100%;
		margin: 0; 
	}

	#sous_container
	{
		display: block; 
	}

	header img
	{
		margin: auto auto;
		background: rgba(255, 255, 255, 0.5);
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	}
	
	footer
	{
		display: table-cell; 
	}

	#menu
	{
		display: table-cell; 
		width: 100%; 
		padding: 5px;
	}
	
	#menu-icon
	{
		visibility: visible; 
		display: block;
		width: 50px; 
		height: 50px;
		padding: 10px 10px 0px 0px;
		float: none;
	}
	
	#menu ul
	{
		position: absolute;
		top: 50px;
		right: 0px;

		display: none;
		list-style-type: none;  
		padding: 10px 10px 10px 10px;  
		margin-top: 0px; 
		margin-bottom: 0px;
	}	
	
	nav li 
	{
		display: block;
	}
}